/** { margin: 0; padding: 0; }*/

.slider-box{
	position:relative;
	width: 1920px;
    height:509px;
	overflow:hidden;
	text-align: center;
	margin: 0 auto;
}
.slider{
	position:relative;
	width:10000px;
	height:509px;
}

.slider img{
	float: left;
}

.bullets{
    position: absolute;
    bottom: 55px;
    left: 153px;
    height: 11px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.bullets li{
	width: 25px;
	height: 24px;
	margin: 0 8px 0 0;
	padding: 0;
	float: left;
	background: url(../images/slider_new/slider_controls1.png) no-repeat 0 -21px;
}
.bullets li.active{
	background-position:0 2px;
}
.slider div{
	position: relative;
	height: 100%;
	width: 100%;
}