* { margin: 0; padding: 0; }

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.slide_block {
	/*width: 1264px;*/
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	background: white;
    margin: 0 auto 0px;
}

.slide_arrow {
	position: absolute;
	top: 50%;
	display: block;
	width: 50px;
	height: 32px;
	background: url(../images/slider/arrow.png) no-repeat;
	transform: rotate(180deg);
	z-index: 2;
	left: 10px;
	cursor: pointer;
}

.slide_arrow.right_arrow {
	right: 10px;
	left: auto;
	transform: rotate(0);
}
.slide_bg
{
    background: url(../images/slider/slayd2.png) repeat!important;
}
.slide_bg,
.slide_bg_1 {
	
	width: 99999px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.load_slide {
	position: absolute;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
	z-index: 300;
	background: url(../images/slider/play_pause.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	height: 10px;
	width: 13px;
}

.load_slide.pause {
	background-position: -18px 0; 
}

.slide_body {
	width: 99999px;
	position: relative;
	left: 0;
	line-height: 0;
	transition: all ease 1s;
}

.slide_cont {
	float: left;
	text-align: center;
	position: relative;
}

.slide_cont a {
	display: inline-block;
	position: relative;
	line-height: 0;
}

.slide_cont a img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}